@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap");

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

body {
  background-color: #000;
  color: white;
}
